@import url('https://fonts.googleapis.com/css?family=Orbitron');

#root {
    position:relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Orbitron, Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

.world {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.intro {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 10px;
    width: 340px;
    letter-spacing: 0.05em;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
    z-index: 0;
}

.intro h3 {
    margin: 5px 0;
    font-weight: normal;
}

.hobby {
    position: relative;
}

.intro h3,
.hobby {
    font-size: 1.1em;
    font-weight: bold;
}

.anime-word span {
    position: absolute;
    top: 0;
    left: 3.6em;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    color: #00896C;
    white-space: nowrap;
    font-size: 1em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    animation: animeWord 15s ease-out infinite 0s;
}

.anime-word span:nth-child(2) {
    animation-delay: 3s;
    color: #0089A7;
}

.anime-word span:nth-child(3) {
    animation-delay: 6s;
    color: #4A225D;
}

.anime-word span:nth-child(4) {
    animation-delay: 9s;
    color: #D05A6E;
}

.anime-word span:nth-child(5) {
    animation-delay: 12s;
    color: #F05E1C;
}

@keyframes animeWord {
    0% {
        opacity: 1;
        width: 0;
    }

    10% {
        opacity: 0.8;
        width: 0;
    }

    20% {
        opacity: 1;
        width: 100%;
    }

    30% {
        width: 0;
    }
    
    100% {
        width: 0;
        opacity: 0;
    }
}


.blur {
    filter: blur(5px);
}

.tooltips {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 32px;
    font-size: 1.2em;
    color: #FFFFFF;
    background: #5DADE2;
    display: inline-block;
    z-index: 999;
}

.tooltips:hover {
    cursor: pointer;
}

.tooltips .tips {
    position: absolute;
    width: 180px;
    color: #FFFFFF;
    background: #5DADE2;
    font-size: 0.8em;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    border-radius: 6px;
}

.tooltips .tips:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #5DADE2;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tooltips:hover .tips,
.tooltips:active .tips {
    visibility: visible;
    opacity: 1;
    bottom: 44px;
    left: 50%;
    margin-left: -18px;
    z-index: 999;
    transition: opacity 0.2s ease-in-out;
}

.tips ul {
    margin: 0;
    padding: 0 0 0 2em;
}

.tips .item {
    padding: 10px 10px 10px 0;
    line-height: 1.4;
}

.tips .item:last-child {
    padding-top: 0;
}





